$color_black: #000000;
$color-white: #FFFFFF;
$color-orange: #FD6A01;
$color-orange_dark: #EC5000;
$color-grey_23: #232323;

$main-font: 'oswald-web';

$main-shadow: 2px 2px 6px rgba($color_black, .16);