.home__cards {
  margin-top: 77px;
}

.home__card {
  cursor: pointer;
  width: 100%;
  padding: 30px;
  display: block;
  border-radius: 5px;
  text-align: center;
  color: $color-white;
  margin-bottom: 15px;
  text-transform: uppercase;
  transition: 377ms ease-in-out;
  background-color: $color-grey_23;
  transition-property: box-shadow, transform;

  @include media('>=md') {
    margin-bottom: 0;
    padding: 70px 30px 75px;
  }

  &:hover {
    box-shadow: $main-shadow;
    transform: translateY(-3px);
  }
}

.home__card-title {
  display: block;
  font-size: 36px;
  font-weight: 700;
}

.home__card-description {
  display: block;
  font-size: 14px;
  margin-top: 13px;
}

.home__advantages {
  padding: 57px 0 51px;
  margin-top: 75px;
  background-color: $color-grey_E5;
}

.home__advantages-title {
  font-size: 28px;
  text-align: center;
}

.home__advantage-icon-wrapper {
  width: 127px;
  height: 127px;
  padding: 30px;
  margin: 37px auto 0;
  border-radius: 50%;
  background-color: $color-grey_C4;
}

.home__advantage-icon {
  fill: $color-white;
}

.home__advantage-title {
  display: block;
  font-size: 18px;
  margin-top: 21px;
  text-align: center;
  text-transform: uppercase;
}