  .header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  position: fixed;
  box-shadow: $main-shadow;
  background-color: $color-white;
}

.header__info-bar {
  display: flex;
  padding: 15px 0 11px;
  flex-direction: column;
  justify-content: space-between;

  @include media('>=md') {
    flex-direction: row;
  }
}

.header__info-bar--left {
  display: flex;
  justify-content: center;

  @include media('>=md') {
    flex-wrap: unset;
    justify-content: unset;
  }
}

.header__info-bar--right {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;

  @include media('>=md') {
    margin-top: 0;
    justify-content: unset;
  }
}

.header__social {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  align-items: center;
  transition: $timer2;
  transition-property: color, fill;

  @include media('>=md') {
    margin-top: -5px;
    margin-bottom: 0;
    margin-right: 24px;
  }

  &:first-child:after {
    @include media('>=md') {
      content: '';
      width: 2px;
      height: 100%;
      display: flex;
      margin-left: 22px;
      background: $color-black;
    }
  }

  &:last-child {
    margin-right: 0;

    @include media('>=md') {
      margin-right: 24px;
    }
  }

  &:hover {
    fill: $color-orange;
    color: $color-orange;
  }
}

.header__social-icon {
  width: 18px;
  display: block;
  margin-right: 5px;

  @include media('>=md') {
    width: 16px;
  }
}

.header__social-label {
  font-size: 16px;
  white-space: pre-line;
  text-transform: uppercase;
  color: inherit;

  @include media('>=md') {
    font-size: 14px;
  }
}

.header__main {
  padding: 16px 0 15px;
  background-color: $color-orange;
}

.header__title {
  width: 160px;
  height: 70px;
  font-size: 0;
  display: block;
  background-image: url('/images/image-logo.png');
  background-position: 1px -16px;
  background-size: 100%;
  background-repeat: no-repeat;

  @include media('>=md') {
    width: 208px;
    height: 94px;
  }
}

.header__hour {
  display: flex;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 16px;
  background-color: $color-grey_E5;
}
