.header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  position: fixed;
  box-shadow: $main-shadow;
  background-color: $color-white;
}

.header__info-bar {
  display: flex;
  padding: 15px 0 11px;
  justify-content: space-between;
}

.header__info-bar--left {
  display: flex;
}

.header__phone {
  display: flex;
  font-size: 14px;

  &:after {
    content: '';
    width: 2px;
    height: 100%;
    display: flex;
    margin-left: 22px;
    margin-right: 25px;
    background: $color-black;
  }
}

.header__social {
  display: flex;
  margin-top: -5px;
  margin-right: 24px;
  align-items: center;
  transition: $timer2;
  transition-property: color, fill;

  &:hover {
    fill: $color-orange;
    color: $color-orange;
  }
}

.header__social-icon {
  width: 16px;
  display: block;
  margin-right: 5px;
}

.header__social-label {
  font-size: 14px;
  text-transform: uppercase;
}

.header__language {
  display: flex;
  margin-top: -3px;
}

.header__language-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  background: none;
  transition: color $timer2;

  &:hover {
    color: $color-orange;
  }

  &:first-child:after {
    content: '';
    width: 2px;
    height: 13px;
    display: block;
    margin: 5px 4px 0;
    background-color: $color-black;
  }
}

.header__main {
  padding: 16px 0 15px;
  background-color: $color-orange;
}

.header__title {
  width: 208px;
  height: 94px;
  font-size: 0;
  display: block;
  background-image: url('/images/image-logo.png');
  background-position: 1px -16px;
  background-size: 100%;
}